.nav-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.navdiv{
		// background-color: red;
		height: 100vh;
		width: 30vw;

		.nav{
			width: 100%;
			// background-color: green;
			height: 100%;
			// border-radius: 10px;
			// border: 2px solid #888;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			align-content: center;
			
			.box{
				width: 98%;
				background-color: white;
				border-radius: 10px;
				border: 2px solid #888;
				height: 99%;
				border-radius: 10px;
				flex-direction: column;
				overflow-y: auto;

				.heading{
					background-color: lightgoldenrodyellow;
					font-size: 18px;
					font-weight: bold;
					font-family: 'Courier New', Courier, monospace;
					border: 2px solid #ddd;
					border-radius: 8px;
					padding: 10px;
					margin: 2px 2px;
					margin-bottom: 10px;
					text-align: center;
					text-transform: uppercase;
				}
					
				.user{
					background-color: lightgoldenrodyellow;
					font-size: 18px;
					font-weight: bold;
					font-family: 'Courier New', Courier, monospace;
					border: 2px solid #ddd;
					border-radius: 8px;
					padding: 10px;
					margin: 6px 6px;
				}
			}
		
		}
	}

	mat-sidenav-content .home{
		height: 100vh;
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		// border: 4px solid rgb(10, 177, 79);
		// border-radius: 10px;
	}
}

.material-icons{
    font-family: 'Material Icons' !important;
}

// .example-radio-group {
// 	display: block;
// 	border: 1px solid #555;
// 	margin: 20px;
// 	padding: 10px;
// }